.product-container{
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: auto;
    display: grid;
    place-items: center;
    border: 2px solid rgb(232, 232, 232);
}

.product-container:hover{
    box-shadow: 10px 10px 10px yellowgreen;
}

.product-container-img{
    width: 150px;
    height: 150px;
}

.product-container-name{
    margin: 4px;
}

.product-container-categoria{
    font-weight: bold;
}

.product-container-precio{
    font-weight: bold;
    color: yellowgreen;
    margin: 2px;
}

.product-container-cantidad{
    font-size: 25px;
    color: rgb(118, 155, 45);
    font-weight: bold;
}

.agregar-carro{
    background-color: yellowgreen;
    color: white;
    margin: 2px;
    padding: 8px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregar-carro:hover{
    cursor: pointer;
}

.agregado-al-carro{
    background-color: black;
    color: white;
    margin: 2px;
    padding: 8px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregado-al-carro:hover{
    cursor: pointer;
}

.container-cantidad-producto{
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-cantidad-producto span{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cantidad-text{
    margin: 0;
    font-size: 16px;
}

.product-container-img-orden{
    width: 100px;
    height: 100px;
}

.product-container-orden{
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border: 2px solid rgb(232, 232, 232);
}

.product-container-orden:hover{
    box-shadow: 10px 10px 10px yellowgreen;
}