.pestaña-admin{
    position: fixed;
    top: 50;
    right: 0;
    padding: 30px;
    border: 2px yellowgreen solid;
    background-color: white;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

.pestaña-admin span{
    margin-top: 8px;
    background-color: yellowgreen;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

.pestaña-admin-text{
    text-decoration: none;
    color: white;
}